.App {
  min-width: 30vw;
  width: max-content;
}

.App-header {
  width: 10rem;
  display: grid;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.form__title,
.form__meet-link,
.form__add-guest {
  grid-column: 1/3;
}
